//SOURCE --> https://www.youtube.com/watch?v=YzRDHxbw1RU&list=LL&index=10
/******IMPORTS******/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@300;400;500;600;700&display=swap');
/******VARIABLES******/
$header-height: 3rem;
//font-style
$title-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;
//font-size
$biggest-font-size: 2.5rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;
//font-weight
$font-medium: 500;
$font-semi-bold: 600;
//color
$hue-color: 190;
$first-color: hsl($hue-color, 65%, 22%);
$first-color: hsl($hue-color, 65%, 22%);
$first-color-alt: hsl($hue-color, 64%, 15%);
$title-color: hsl($hue-color, 64%, 18%);
$text-color: hsl($hue-color, 24%, 35%);
$text-color-light: hsl($hue-color, 8%, 60%);
$input-color: hsl($hue-color, 24%, 97%);
$body-color: hsl($hue-color, 100%, 99%);
$white-color: #FFF;
$scroll-bar-color: hsl($hue-color, 12%, 90%);
$scroll-thumb-color: hsl($hue-color, 12%, 75%);
//margenes bottom
$mb-0-25: .25rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-25: 1.25rem;
$mb-1-50: 1.50rem;
$mb-2: 2rem;
$mb-2-50: 2.5rem;
//z-index
$z-tooltip: 10;
$z-fixed: 100;
//hover overlay
$img-transition: .3s;
$img-hidden: hidden;
$img-scale: scale(1.1);   
//mobile
@media screen and (min-width: 986px) {
    $biggest-font-size: 4rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
}
/******RESET******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: 0;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    margin: $header-height 0 0 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background: $body-color;
    color: $text-color;
    h1,h2,h3 {
        color: $title-color;
        font-weight: $font-semi-bold;
    }
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    img,
    video {
        max-width: 100%;
        height: auto;
    }
    button,
    input {
        border: none;
        font-family: $body-font;
        font-size: $normal-font-size;
    }
    button {
        cursor: pointer;
    }
}
/******GLOBAL******/
section {
    h2 {
        font-size: $h2-font-size;
        color: $title-color;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: $mb-2;
    }

}
.container {
    max-width: 968px;
    margin-left: $mb-1;
    margin-right: $mb-1;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.flex {
    display: flex;
    &-ai-c {
        align-items: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
}
.button {
    display: inline-block;
    background:$first-color;
    color: $white-color;
    padding: 1rem 2rem;
    font-weight: $font-semi-bold;
    transition: .3s;
    &:hover {
        background: $first-color-alt;
    }
    &-flex {
        display: flex;
        align-items: center;
        column-gap: .25rem;
        background: none;
        padding: 0;
        &:hover {
            background: none;
        }
    }
}

/******HEADER******/
.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background: $first-color;
    // nav
    .Nav {
        height: $header-height;
        &-logo ,
        &-toggle{
            color: $white-color;
        }
        &-logo {
            font-weight: $font-semi-bold;
        }
        &-toggle {
            font-size: 1.2rem;
        }
        .show-menu {
            right: 0;
        }
        &-menu {
            position: releative;
            @media screen and (max-width: 767px){
                position: fixed;
                background: $body-color;
                top: 0;
                right: -100%;
                width: 70%;
                height: 100%;
                box-shadow: -1px 0 4px hsla(($hue-color), 64%, 15%, .15);
                padding: 3rem;
                transition: .4s;
                line-height: 2.5rem;
            }
            &-link {
                cursor: pointer;
                &:hover a {
                    color: $text-color;
                }
                a {
                    color: $text-color-light;
                    font-weight: $font-semi-bold;
                    text-transform: uppercase;
                    transition: .3s;
                }
            }
            &-toggle {
                position: absolute;
                top: .75rem;
                right: 1rem;
                font-size: 1.5rem;
                color: $title-color;
                cursor: pointer;
            }
        }
    }
}
/******MAIN******/
.Main {
    /******HOME SECTION******/
    .Home {
        &-img {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: 83%;
        }
        &-container {
            position: relative;
            height: calc(100vh - 3rem);
            align-content: center;
            row-gap: 3rem;
            &-content {
                &-subtitle,
                &-title{
                    color: $white-color;
                }
                &-subtitle {
                    display: block;
                    font-weight: $font-semi-bold;
                    margin-bottom: $mb-0-75;
                }
                &-title {
                    font-size: $biggest-font-size;
                    font-weight: $font-medium;
                    margin-bottom: $mb-2-50;
                    text-transform: capitalize;
                }
            }
            &-social {
                flex-direction: column;
                row-gap: 1.5rem;
                &-link {
                    color: $white-color;
                    font-size: 1.2rem;
                    width: max-content;
                }
            }
            &-info {
                background: $first-color;
                padding: 1.5rem 1rem;
                column-gap: .5rem;
                position: absolute;
                right: 0;
                bottom: 1rem;
                width: 228px;
                &-content {
                    &-title {
                        display: block;
                        font-size: $small-font-size;
                        font-weight: $font-semi-bold;
                        margin-bottom: $mb-0-75;
                        color: $white-color;
                    }
                    &-btn {
                        font-size: $smaller-font-size;
                        
                    }
                }
                &-overlay {
                    overflow: $img-hidden;
                    &-img {
                        width: 145px;
                        transition: $img-transition;
                        &:hover{
                            transform: $img-scale;
                        }
                    }
                }
            }
        }
    }
}
