//SOURCE --> https://www.youtube.com/watch?v=YzRDHxbw1RU&list=LL&index=10
/******IMPORTS******/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@300;400;500;600;700&display=swap');
/******VARIABLES******/
$header-height: 3rem;
//font-style
$title-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;
//font-size
$biggest-font-size: 2.5rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;
//font-weight
$font-medium: 500;
$font-semi-bold: 600;
//color
$hue-color: 190;
$first-color: hsl($hue-color, 65%, 22%);
$first-color: hsl($hue-color, 65%, 22%);
$first-color-alt: hsl($hue-color, 64%, 15%);
$title-color: hsl($hue-color, 64%, 18%);
$text-color: hsl($hue-color, 24%, 35%);
$text-color-light: hsl($hue-color, 8%, 60%);
$input-color: hsl($hue-color, 24%, 97%);
$body-color: hsl($hue-color, 100%, 99%);
$white-color: #FFF;
$scroll-bar-color: hsl($hue-color, 12%, 90%);
$scroll-thumb-color: hsl($hue-color, 12%, 75%);
//margenes bottom
$mb-0-25: .25rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-25: 1.25rem;
$mb-1-50: 1.50rem;
$mb-2: 2rem;
$mb-2-50: 2.5rem;
//z-index
$z-tooltip: 10;
$z-fixed: 100;
//hover overlay
$img-transition: .3s;
$img-hidden: hidden;
$img-scale: scale(1.1);   
//mobile
@media screen and (min-width: 986px) {
    $biggest-font-size: 4rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
}
/******RESET******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: 0;
    }
}
html {
    scroll-behavior: smooth;
}
body {
    margin: $header-height 0 0 0;
    font-family: $body-font;
    font-size: $normal-font-size;
    background: $body-color;
    color: $text-color;
    h1,h2,h3 {
        color: $title-color;
        font-weight: $font-semi-bold;
    }
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    img {
        width: 100%;
    }
    img,
    video {
        max-width: 100%;
        height: auto;
    }
    button,
    input {
        border: none;
        font-family: $body-font;
        font-size: $normal-font-size;
    }
    button {
        cursor: pointer;
    }
}
/******GLOBAL******/
section {
    height: 100vh;
    .h2-title {
        font-size: $h2-font-size;
        color: $title-color;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: $mb-2;
    }

}
.container {
    max-width: 968px;
    margin-left: $mb-1;
    margin-right: $mb-1;
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.flex {
    display: flex;
    &-ai-c {
        align-items: center;
    }
    &-jc-sb {
        justify-content: space-between;
    }
}
.button {
    display: inline-block;
    background:$first-color;
    color: $white-color;
    padding: 1rem 2rem;
    font-weight: $font-semi-bold;
    transition: .3s;
    &:hover {
        background: $first-color-alt;
    }
    &-flex {
        display: flex;
        align-items: center;
        column-gap: .25rem;
        background: none;
        padding: 0;
        &:hover {
            background: none;
        }
    }
}


  
/******HEADER******/
.Header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background: $first-color;
    transition: .3s;
    // nav
    .Nav {
        height: $header-height;
        &-logo ,
        &-toggle{
            color: $white-color;
        }
        &-logo {
            font-weight: $font-semi-bold;
        }
        &-toggle {
            font-size: 1.2rem;
        }
        .show-menu {
            right: 0;
        }
        &-menu {
            position: releative;
            @media screen and (max-width: 767px){
                position: fixed;
                background: $body-color;
                top: 0;
                right: -100%;
                width: 70%;
                height: 100%;
                box-shadow: -1px 0 4px hsla(($hue-color), 64%, 15%, .15);
                padding: 3rem;
                transition: .4s;
                line-height: 2.5rem;
            }
            &-link {
                cursor: pointer;
                &:hover a {
                    color: $text-color;
                }
                a {
                    color: $text-color-light;
                    font-weight: $font-semi-bold;
                    text-transform: uppercase;
                    transition: .3s;
                }
            }
            &-toggle {
                position: absolute;
                top: .75rem;
                right: 1rem;
                font-size: 1.5rem;
                color: $title-color;
                cursor: pointer;
            }
        }
    }
}
//Change background header when scroll the page
.scroll-header {
    background: $body-color;
    box-shadow: 0 0 4px hsla(($hue-color), 64%, 15%, .15);
    & .Nav-logo,
    & .Nav-toggle{
        color: $title-color;
    }
}
/******MAIN******/
.Main {
    /******HOME SECTION******/
    .Home {
        .container {
            height: 100vh;
        }
        &-img {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            object-fit: cover;
            object-position: 83%;
        }
        &-container {
            position: relative;
            height: calc(100vh - 3rem);
            align-content: center;
            row-gap: 3rem;
            &-content {
                &-subtitle,
                &-title{
                    color: $white-color;
                }
                &-subtitle {
                    display: block;
                    font-weight: $font-semi-bold;
                    margin-bottom: $mb-0-75;
                }
                &-title {
                    font-size: $biggest-font-size;
                    font-weight: $font-medium;
                    margin-bottom: $mb-2-50;
                    text-transform: capitalize;
                }
            }
            &-social {
                flex-direction: column;
                row-gap: 1.5rem;
                &-link {
                    color: $white-color;
                    font-size: 1.2rem;
                    width: max-content;
                }
            }
            &-info {
                background: $first-color;
                padding: 1.5rem 1rem;
                column-gap: .5rem;
                position: absolute;
                right: 0;
                bottom: 1rem;
                width: 228px;
                &-content {
                    &-title {
                        display: block;
                        font-size: $small-font-size;
                        font-weight: $font-semi-bold;
                        margin-bottom: $mb-0-75;
                        color: $white-color;
                    }
                    &-btn {
                        font-size: $smaller-font-size;
                        
                    }
                }
                &-overlay {
                    overflow: $img-hidden;
                    &-img {
                        width: 145px;
                        transition: $img-transition;
                        &:hover{
                            transform: $img-scale;
                        }
                    }
                }
            }
        }
    }
    /******BEACHES SECTION******/    
    .About {
        height: calc(100vh - 3rem);
        padding: 3rem 0 0 0;
        .container {
            grid-row-gap: 3rem;
        }
        &-content {
            text-align: center;
            &-text {
                margin-bottom: $mb-2-50;
            }
        }
        &-media {
            column-gap: 1rem;
            justify-content: center;
            &-overlay {
                overflow: $img-hidden;
                &-first,
                &-second {
                    height: auto;
                    transition: $img-transition;
                    &:hover {
                        transform: $img-scale;
                    }
                }
                &-first {   
                    width: 130px;
                }
                &-second {
                    width: 180px;
                }
            }
            
        }
    }
    /******DISCOVER SECTION******/ 
        /******SWIPER******/
    .swiper-container {
        width: 60%;
        height: 500px;
        margin: 0 auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        position: relative; 
        &-content {
            position: absolute;
            bottom: 1.5rem;
            left: 1rem;
            &-title {
                text-align: left;
                margin-bottom: $mb-0-25;
                font-size: $h3-font-size;
            }
            &-desc {
                font-size: $smaller-font-size;
            }
            &-title,
            &-desc {
                color: $white-color
            }
        }
        &:hover img {
            transform: $img-scale;
        }   
    }
    .swiper-slide img {
        transition: $img-transition;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
        /******SWIPER MOBILE******/
    @media screen and (max-width: 767px) {
        .swiper-container {
            width: 90%;
            margin: 0 auto;
        }
        .swiper-slide {
            width: 211px !important;
        }  
    }
    /******EXPERIENCE SECTION******/
    .Experience {
       .container {
           row-gap: 2.5rem;
            justify-content: center;
            justify-items: center;
        }
        &-content {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2.5rem;
            justify-items: center;
            padding: 0 2rem;
            &-data {
                &-title {
                    font-size: $h2-font-size;
                    margin-bottom: $mb-0-5;
                }
                &-desc {
                    font-size: $small-font-size
                }
            }
        }
        &-media {
            position: relative;
            padding-bottom: 2rem;
            &-overlay {
                overflow: $img-hidden;
                &:nth-child(1) {
                    width: 263px;
                    margin-right: 2rem;
                }
                &:nth-child(2){
                    width: 120px;
                    position: absolute;
                    top: 2rem;
                    right: 0;    
                }
            }
            &-one,
            &-two {
                transition: $img-transition;
                &:hover {
                    transform: $img-scale;
                }
            }
        }
    }
    /******VIDEO SECTION******/
    .Video {
        &-header {
            text-align: center;
            &-desc {
                margin: 20px 0 30px 0;
            }
        }
        &-content {
            position: relative;
            &-button {
                position: absolute;
                right: 1rem;
                bottom: -1rem;
                padding: 1rem 1.5rem;
                &-icon {
                    font-size: 1.2rem;
                }
            }
        }
    }
    /******PLACES SECTION******/
    .Places {
        .title {
            text-align: center;
            margin-bottom: $mb-2-50;
        }
        &-container {
            grid-template-columns: repeat(2, max-content);
            justify-content: center;
            &-card {
                height: 240px;
                width: 180px;
                position: relative;
                overflow: $img-hidden;
                &-img {
                    height: 100%;
                    transition: $img-transition;
                }
                
                &:hover .Places-container-card-img{
                    transform: $img-scale;
                }
                &-content {
                    color: $white-color;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: .75rem .75rem 1rem;
                    &-rating {
                        align-self: flex-end;
                        display: flex;
                        align-items:center;
                        i {
                            font-size: .75rem;
                            margin-right: $mb-0-25;
                        }
                    }
                    &-header {
                        &-title {
                            font-size: $h3-font-size;
                            color: $white-color;
                            margin-bottom: $mb-0-25;
                        }
                        &-subtitle {     
                            font-size: $small-font-size;
                        }
                    }
                }
                &-button {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: .75rem 1rem;
                }
            }
        }
    }
}
